body {
  background-image: url('background.jpg');
}
h1 {
  color: darkgreen;
}
h2 {
  color: green;
}
p {
  color: forestgreen;
}
font-family: Impact, Charcoal, sans-serif
figcaption {
  color: darkolivegreen
}
