body {
  background-image: url('background.jpg');
}
h1 {
  color: darkgreen;
}
h2 {
  color: green;
}
p {
  color: forestgreen;
}
figcaption {
  display: block;
  color: darkolivegreen;
}
font-family: system-ui;
